In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d = {3,4,5,6,7, "Tejas"}

In [4]:
type(d)

set

# Dictionary
It should have 'key' and 'value' pair

In [5]:
d = {"name" : "Vaibhav", "Class": "MCA", "Roll_no": 8, "Tech": ["Python", "Algorithms", "DS", "Stats", "ADBMS"]}

In [6]:
l = [4,5,6,7,8]

In [7]:
6 in l

True

In [8]:
# Q. Whether Vaibhav knows DS or not? Check it.
"DS" in d["Tech"]

True

# Q. Does he knows Python?
"Python" in d["Tech"]

In [10]:
# Q. Change the 'name' of dictionary
d["name"]="tejas"

In [11]:
d

{'name': 'tejas',
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS']}

In [12]:
# Q. Insert University name of "tejas"
d["University_name"] = "MITVPU"

In [13]:
d

{'name': 'tejas',
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU'}

In [14]:
# Q. Insert Tejas Mobile no. dictionary inside dictionary

In [15]:
d

{'name': 'tejas',
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU'}

In [16]:
d1={"phone 1":9527270581,"phone 2":9988776655}
d["contact"]=d1

In [17]:
d

{'name': 'tejas',
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU',
 'contact': {'phone 1': 9527270581, 'phone 2': 9988776655}}

In [18]:
# What is Tejas's 2nd phone no.?
d["contact"]["phone 2"]

9988776655

In [19]:
d["contact"]["phone 1"]

9527270581

In [35]:
# Key is a tuple
d2 = {("jhsdbvk", 4364, "Madhu") : "skdjghiea"}

In [36]:
d2

{('jhsdbvk', 4364, 'Madhu'): 'skdjghiea'}

In [38]:
# Key is a list
d2 = {["jhsdbvk", 4364, "Madhu"] : "skdjghiea"}

TypeError: unhashable type: 'list'

In [39]:
# Key is set
d2 = {{3,4,5}: "mjdsgfjke"}

TypeError: unhashable type: 'set'

In [41]:
# Key is Dictionary
d2 = {{"name": "Madhu"} : "ksdjbfhk"}

TypeError: unhashable type: 'dict'

In [42]:
# Conclusion:---> Key can't be a set, dict and list but it can be a tuple.

In [44]:
d

{'name': 'tejas',
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU',
 'contact': {'phone 1': 9527270581, 'phone 2': 9988776655}}

In [45]:
# Can we have two same keys in a dictionary?
# No
d3 = {"name" : "Vaibhav", "name": "Tejas", "name": "Madhu"}

In [46]:
d3

{'name': 'Madhu'}

In [47]:
d3 = {"name" : ["Vaibhav","Tejas", "Madhu"]}

In [48]:
d3

{'name': ['Vaibhav', 'Tejas', 'Madhu']}

In [49]:
d["name"]="Tejas"+" name" ," vaibhav"

In [50]:
d

{'name': ('Tejas name', ' vaibhav'),
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU',
 'contact': {'phone 1': 9527270581, 'phone 2': 9988776655}}

In [51]:
# I want only keys of a particular dictionary.
d.keys()

dict_keys(['name', 'Class', 'Roll_no', 'Tech', 'University_name', 'contact'])

In [52]:
# Only Values
d.values()

dict_values([('Tejas name', ' vaibhav'), 'MCA', 8, ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'], 'MITVPU', {'phone 1': 9527270581, 'phone 2': 9988776655}])

In [53]:
d

{'name': ('Tejas name', ' vaibhav'),
 'Class': 'MCA',
 'Roll_no': 8,
 'Tech': ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS'],
 'University_name': 'MITVPU',
 'contact': {'phone 1': 9527270581, 'phone 2': 9988776655}}

In [54]:
d.items()

dict_items([('name', ('Tejas name', ' vaibhav')), ('Class', 'MCA'), ('Roll_no', 8), ('Tech', ['Python', 'Algorithms', 'DS', 'Stats', 'ADBMS']), ('University_name', 'MITVPU'), ('contact', {'phone 1': 9527270581, 'phone 2': 9988776655})])

# Set
Duplicate values are not allowed.
Can't define empty set
It gives sorted value.
Can't locate the index of a particular value.
Sorting.
remove duplicates.

In [55]:
s = {}

In [56]:
type(s)

dict

In [57]:
s = {2,3,4,5,6}

In [58]:
type(s)

set

In [59]:
s1= {2,3,4,5,6,2,3,4,5,5,5,5,5}

In [60]:
s1

{2, 3, 4, 5, 6}

In [61]:
s2 = {56,23,90,12,97,34}

In [62]:
s2

{12, 23, 34, 56, 90, 97}

In [63]:
# What is the value of s3 at index 4??
s2[4]

TypeError: 'set' object is not subscriptable

In [65]:
# Is set heterogenous?
# Yes
s3 = {"Madhu", "Tejas", "Vaibhav", 2,4,5,6, True, False, 5.4, 3.5}

In [66]:
s3

{2, 3.5, 4, 5, 5.4, 6, False, 'Madhu', 'Tejas', True, 'Vaibhav'}

In [70]:
# Add Namdev in s3 set.
s3.add("namdev")

In [73]:
s3.discard("namdev")
s3

{2, 3.5, 4, 5, 5.4, 6, False, 'Madhu', 'Tejas', True, 'Vaibhav'}

In [67]:
# Can I access a particular content in set?
# Ans:---> No bcz of sorting of content.

In [69]:
# Q. Convert set s3 into list
type(s3)

set

In [76]:
s4 = list(s3)

In [78]:
s4

[False, True, 2, 3.5, 4, 'Madhu', 5, 6, 5.4, 'Vaibhav', 'Tejas']

In [79]:
s3

{2, 3.5, 4, 5, 5.4, 6, False, 'Madhu', 'Tejas', True, 'Vaibhav'}

# Data Structure
list = []
tuple = ()
dictionary = {"key":"value"}
set = {1,2,3,4}

In [80]:
s3.add((2,3,4,5,6))

In [81]:
s3

{(2, 3, 4, 5, 6),
 2,
 3.5,
 4,
 5,
 5.4,
 6,
 False,
 'Madhu',
 'Tejas',
 True,
 'Vaibhav'}

In [82]:
s3.add([2,3,4,5,6])

TypeError: unhashable type: 'list'

In [93]:
s3

{(2, 3, 4, 5, 6), 4, 5, 5.4, 6, 'Madhu', 'Tejas', 'Vaibhav'}

In [94]:
s3.pop()

4

In [95]:
s3

{(2, 3, 4, 5, 6), 5, 5.4, 6, 'Madhu', 'Tejas', 'Vaibhav'}

# Till now we have studied
String
List
Tuple
Dictionary
Set

# Homework-3

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list