In [1]:
# Question 1.

# Enter a decimal number. If that number is 0 it should print it's a positive no., else it's a negative no.
# else it's a positive no.

In [7]:
a = int (input("Enter a number"))
if a ==0:
    print("The number is Zero")
elif a >0:
    print("The number is positive")
else:
    print("the number is negvative")

Enter a number-89
the number is negvative

In [8]:
a = int (input())
if a >=0:
    print("The number is positive")
else:
    print("the number is negative")

0
The number is positive

In [12]:
a = int (input())
if a ==0:
    print("The number is zero")
elif a>0:
    print("The Number is Positive")
else:
    print("the number is negative")

-45
the number is negative

Question 2
Take a dictionary and check if all it's vaues are correct if so then print "all the values are verified" and print all the values otherwise print "All the values are not verified."

# Question 3: l = [3,4,5,63, "Madhu", "Tejas","Ritika", "Vaibhav", 5.6, 78, 12 ]
check if your name is there in list? if it's there print "My name is there in list" and print the values till your name. otherwise print my name is not there in the list.

 # Question 4 Ask user to enter it's name. ask user to enter an alphabet. Now check if that particular alphabet is there in your name or not? if yes then print "your entire string" else print "it's not there in my name."

In [14]:
dict={"name":"ritika","location":"Solapur","rollno":5} 
if dict:
    print("all the values are verified")                           
    print(dict.values())
else:
    print("All the values are not verified.")

all the values are verified
dict_values(['ritika', 'Solapur', 5])

In [20]:
d={"Name":"vaibhav","Rollno":'08',"Class":"MCA"}
if d['Rollno']=='08' and d['Class']=="MCA" and d['Name']=="vaibhav":
    print("All the details are verified")
    print(d.values())
else:
    print("All details not verified")

All the details are verified
dict_values(['vaibhav', '08', 'MCA'])

# for loop

In [21]:
l = [1,2,3,4,"Madhu", "Vaibhav", "Ritika", 9.8, 34,True ]

In [26]:
l.index(3)

2

In [22]:
for i in l:
    print(i)

1
2
3
4
Madhu
Vaibhav
Ritika
9.8
34
True

In [30]:
# Q. Skip your name
for i in l:
    if i == "Madhu":
        pass
    else:
        print(i)

1
2
3
4
Vaibhav
Ritika
9.8
34
True

In [35]:
s = "Ritika"

Madhu

In [36]:
# Q. If for loop exhaust it should print for loop exhausted otherwise print it got interrupted.

# If your name is there in the list print till there othersise print "this will execute only if for is going to complete itself"

In [38]:
s="Ritika"
for a in s:
    print(a.split())

['R']
['i']
['t']
['i']
['k']
['a']

In [39]:
s="Ritika"
for a in s:
    
    print(a)

R
i
t
i
k
a

In [40]:
l

[1, 2, 3, 4, 'Madhu', 'Vaibhav', 'Ritika', 9.8, 34, True]

In [50]:
for i in l:
    if i == "Madhu":
        break
    
else:
    print("Tejas is not in the list")

In [51]:
# Same thing do with string

In [60]:
a="vaibhav"
for i in a:
    if i=="t":
        print("loop broke")
        break
else:
    print(a)

vaibhav

In [56]:
for i in l:
    if i == "Namdev":
        break
else:
    print("Loop Exhaust")

Loop Exhaust

In [61]:
l=[1,2,3,"Ritika","ABC"]
for b in l:
    if b == "Madhu":        
           print("In the list")

           break  
else:
    print("exhaust")

exhaust

In [64]:
# For loop over tuple
t = (4,5,6,"Madhu", 5,3,2)

In [65]:
for i in t:
    print(i)

4
5
6
Madhu
5
3
2

In [71]:
# for loop over set
s = {3,4,5,6,"sjdbv", True, 6.55}
print(s)

{True, 3, 4, 5, 6, 6.55, 'sjdbv'}

In [72]:
type(s)

set

In [73]:
for i in s:
    print(i)

True
3
4
5
6
6.55
sjdbv

In [74]:
# Q.  Iterate for loop over Dictionary and give me all the key and value pair.

In [79]:
d = {"name" : "Ritika", "Roll no": 5, "class": "MCA"}
for i in d:
    print(i, ":", d[i])

name : Ritika
Roll no : 5
class : MCA

In [80]:
range(9)

range(0, 9)

In [81]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
list(range(3,9,2))

[3, 5, 7]

In [84]:
list(range(3,9,-1))

[]

In [87]:
list(range(9,2,-2))

[9, 7, 5, 3]

In [88]:
for i in range(4):
    for j in range(0, i+1):
        print("Madhu", end = "    ")
    print("\n")

Madhu

Madhu    Madhu

Madhu    Madhu    Madhu

Madhu    Madhu    Madhu    Madhu

In [ ]:
                Madhu
        Madhu   Madhu   Madhu
Madhu   Madhu   Madhu   Madhu   Madhu

In [ ]:
n = input("Enter the value of n")
for i in range(0, n-1):
    for j in range()

In [ ]:
Madhu
Madhu   Madhu
Madhu   Madhu   Madhu
Madhu   Madhu   Madhu    Madhu

In [91]:
list(range(4))

[0, 1, 2, 3]

In [93]:
for i in range(4):
    for j in range(0, i+1):
        print("Madhu", end = "   " )
    print("\n")

Madhu

Madhu   Madhu

Madhu   Madhu   Madhu

Madhu   Madhu   Madhu   Madhu

In [94]:
n=int(input())
for i in range(n):
    for j in range(0, i+1):
        print("Vaibhaav", end = "   " )
    print("\n")

7
Vaibhaav

Vaibhaav   Vaibhaav

Vaibhaav   Vaibhaav   Vaibhaav

Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav

Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav

Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav

Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav   Vaibhaav

In [ ]:
#               Madhu
#         Madhu Madhu Madhu
#   Madhu Madhu Madhu Madhu Madhu

In [112]:
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" "*len("Madhu"), end = "  ")
    for j in range(i+1):
        print("Madhu", end = "  ")
    for j in range(i):
        print("Madhu", end = "  ")
    print( )

              Madhu
       Madhu  Madhu  Madhu
Madhu  Madhu  Madhu  Madhu  Madhu

In [113]:
n=3
list(range(n))

[0, 1, 2]

In [119]:
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" "*len("Madhu"), end = "  ")
    for j in range(i+1):
        print("Madhu", end = "  ")
    for j in range(i):
        print("Madhu", end = "  ")
    print()

              Madhu
       Madhu  Madhu  Madhu
Madhu  Madhu  Madhu  Madhu  Madhu

Homework:- 5
       *
     * * *
   * * * * *
     * * *
       *

In [121]:
t = (2,3,4,5, "Tejas", "Ritika", 90,23, "Vaibhav")

In [122]:
# Question:- Print index and it's value

In [ ]:
# Question:-->Print your name's alphabet with it's index

In [ ]:
# Question:---> print the reverse of your name's alphabet and it's index

In [123]:
# Question:---> Take a dictionary now print each element in the form of tuple with it's type.

In [142]:
#  Take a list if there is integer value in the list then put it in another list.

In [141]:
t

'Ritika'

In [129]:
range(len(t))

range(0, 9)

In [130]:
for i in range(len(t)):
    print(t[i], i)

2 0
3 1
4 2
5 3
Tejas 4
Ritika 5
90 6
23 7
Vaibhav 8

In [132]:
t="Ritika"
for i in range(len(t)):
    print(t[i], i)

R 0
i 1
t 2
i 3
k 4
a 5

In [136]:
list(range(len(t), -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [138]:
t="Ritika"
for i in range(len(t)):    
    print(t[i-1], i)

a 0
R 1
i 2
t 3
i 4
k 5

In [ ]:
# # Question: 
#     d = {6:54674, "name": "Madhu", 5:"346335", "workAt":"MITVPU"}
# check if the key of dictionary is integer then print key and it's value.

In [143]:
Question

name
Roll no
class

In [145]:
s = "Madhu"

In [152]:
list(range(len(s)-1,-1,-1))

[4, 3, 2, 1, 0]

In [153]:
for i in range(len(s)-1,-1,-1):
    print(i, s[i])

4 u
3 h
2 d
1 a
0 M

In [ ]:

# Homework:- 5
#        *
#      * * *
#    * * * * *
#      * * *
#        *
# Question:---> Take a dictionary now print each element in the form of tuple with it's type.
#  Take a list if there is integer value in the list then put it in another list.
# # Question: 
#     d = {6:54674, "name": "Madhu", 5:"346335", "workAt":"MITVPU"}
# check if the key of dictionary is integer then print key and it's value.