# How to pass a dictionary to a function?

0/p--->{Name: "Madhu", "id" : 1234 }

In [1]:
def test(**a):
    return a

test(a = 10, c = "Vaibhav")

{'a': 10, 'c': 'Vaibhav'}

# Lambda Function :--> 
Anonympous function

In [2]:
a = lambda *madhu : madhu

In [3]:
a(12,45,67,89,12,45)

(12, 45, 67, 89, 12, 45)

In [4]:
type(a)

function

In [5]:
a = 5

In [6]:
type(a)

int

In [7]:
def a(*p):
    return p

In [8]:
a(12,45,67,89,12,45)

(12, 45, 67, 89, 12, 45)

In [9]:
# Add 2 nos using lambda function

In [10]:
a = lambda p,q : p+q
a(3,4)

7

# Comprehension Operation

In [12]:
# Q. t = (2,3,4,5,6,7)
# o/p ---> [2,3,4,5,6]

In [13]:
t=(2,3,4,5,6)
list[t]

list[2, 3, 4, 5, 6]

In [16]:
t = (2,3,4,5,6,7)
l = []
for i in t:
    l.append(i)

In [17]:
l

[2, 3, 4, 5, 6, 7]

In [18]:
# Comprehension operation
[i for i in t]

[2, 3, 4, 5, 6, 7]

In [19]:
# s = "madhu"
# ["m", "a", "d", "h", "u"]

In [20]:
l=[]
s="vaibhav"
for i in s:
    l.append(i)
    
print(l)

['v', 'a', 'i', 'b', 'h', 'a', 'v']

In [21]:
[i for i in s]

['v', 'a', 'i', 'b', 'h', 'a', 'v']

In [23]:
# Q. Find the square of 2 to 20.
[i*i for i in range(2,10)]

[4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
# Q. we will pass a tuple and we want the pow(3). 
# t(2,3,4,12,56,78,12,45)

In [25]:
a = lambda *t : [i**3 for i in t]

In [26]:
a(3,2,5,6,1,9,7,2)

[27, 8, 125, 216, 1, 729, 343, 8]

In [ ]:
#  q1 : Try to print a prime number in between 1 to 1000
#     q2 : Try to write a function which  is equivalent  to print function in python
#     q3 : Try to write a function which is a replica of list append , extend and pop function 
#     q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
#     q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
#     q6 : Try to write a 10 Different different example of lambda function with a choice of your taks